@using CTP.Helpers
    @{
        ViewBag.Title = "About";
    }

    <h2>@ViewBag.Title.</h2>

    <div class="row">

        <dl class="dl-horizontal">

            <dt>Application</dt>
            <dd style="font-size:large">Clinical Treatment Plan (CTP) Template Application</dd>

            <dt>
                Version
            </dt>
            <dd>
                @Html.AppVersion()
            </dd>

            <dt>
                Developed for
            </dt>
            <dd>
                Radiation Oncology Centers, PC
            </dd>

            <dt>
                by
            </dt>
            <dd>
                BLUE i Productions, LLC
            </dd>

            <dt>
                Email
            </dt>
            <dd>
                <a href="mailto:support@bluei.net">support@bluei.net</a>
            </dd>
            <dt>

            </dt>
            <dd>
                <br /><a href="http://bluei.net" target="_blank"><img src="~/Images/bi_wht_horiz_24.png" /></a>
            </dd>

        </dl>
    </div>