@{
    ViewBag.Title = "Home Page";
}
<div class="row" id="wrapper">
    <br />
    <div class="col-md-6 col-md-offset-3 text-white">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <h1>Welcome to Radiation Oncology Centers, PC</h1>
    </div>  
</div>