@{
    ViewBag.Title = "Confirmation Email Sent";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    An email has been sent with a link to confirm the address. Please confirm by clicking the link.
</p>
@*<p class="text-danger">
    For DEMO only: Click this link to confirm the email: <a href="@ViewBag.Link">link</a>
</p>*@
