
@{
    ViewBag.Title = "CTP Templates";
}

<h2>@ViewBag.Title</h2>

<p>This page will allow physicians to quickly find and select a template to use.</p>
<p>If you have the TemplateUser role, you will be brought to this page automatically upon login.</p>

